.food {
    color: #ffffff;
    position: relative;
    padding-top: 29px;
    text-align: center;
    @media (min-width: 768px) {
        color: #111;
        text-align: left;
    }
    @media (min-width: 1300px) {
        position: static;
    }
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 305px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #63a73a;
        background-image: url("../img/index-background-mobile@1x.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -2;
        @media (min-width: 768px) {
            display: none;
        }
        @media (min-width: 1300px) {
            display: block;
            width: 50%;
            right: 0;
            left: auto;
            height: 696px;
        }
    }
}

.food__container {
    @media (min-width: 768px) {
        padding: 0 90px;
        display: flex;
        flex-wrap: wrap;
    }
    @media (min-width: 1300px) {
        align-items: center;
    }
}

.food__title {
    font-size: 36px;
    line-height: 36px;
    @media (min-width: 768px) {
        font-size: 60px;
        line-height: 60px;
        max-width: 100%;
        margin-bottom: 33px;
    }
}

.food__text {
    @media (min-width: 768px) {
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        margin-bottom: 48px;
        display: block;
        width: 100%;
    }
    @media (min-width: 1300px) {
        margin-bottom: 53px;
    }
}

.food__button {
    display: none;
    height: 40px;
    line-height: 40px;
    @media (min-width: 768px) {
        width: 245px;
        font-size: 20px;
        height: 52px;
        line-height: 52px;
    }
    &--mobile {
        display: block;
        @media (min-width: 768px) {
            display: none;
        }
    }
    &--table {
        @media (min-width: 768px) {
            display: block;
        }
    }
}

.food__image {
    @media (min-width: 768px) {
        // position: absolute;
        order: 4;
        margin-top: -40px;
        z-index: -1;
    }
    @media (min-width: 1300px) {
        margin-top: 0;
        margin-left: -78px;
        margin-bottom: -80px;
    }
}

.food__left-side,
.food__right-side {
    @media (min-width: 1300px) {
        width: 50%;
    }
}

.food__right-side {
    @media (min-width: 768px) {
        z-index: -1;
    }
}